.pass-photo{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 1000;
  height: 70vh;
  border-radius: 7px;
}


.register{
  height: 100vh;
  color:aliceblue;
  margin: 25px;
}

.benefit{
  color:white;
  font-size: 20px;
  font-weight: 700;
  margin-left: 80px;
  margin-top: 30px;

}
.benifit-text{
  font-weight: 700;
  font-size: 60px;
 
}
@media(max-width:576px){
  .pass-photo{
    height:48%;
  }
  .benefit{
    margin-left: 50px;
  }
}

.blink{
  font-size: 30px;
  background-color: #0000;
  /* padding: 15px;	 */
  text-align: center;
  line-height: 50px;
  margin:15px ;
}
.first{
  color:rgb(255,0,0);
  animation: blink 1s linear infinite;

}


.second{
  color:rgb(255,0,0);
  /* font-size: 25px; */
  font-family: cursive;
  
  animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}
.btn-primary {
  background-color: #f50136;
  border: solid 1px #f50136;
  color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 50px;
  width: 250px;
  font-size: 12px;
    line-height: 1.7;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 40px;
    border-radius: 50px;
    outline: 0!important;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
}
.btn-primary:hover {
  background-color: #18181c;
  color: #fff;
  border: solid 1px #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}